h2, h3, a {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h6 {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
  text-align: left;
}

p {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

a {
  color: white;
}

label{
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

footer {
  color: #415a8b;
  margin: 25px 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.alg-center {
  text-align: center;
}

.send-button {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #e2ad2f;
  background-color: #415a8b;
  border: none;
}

.send-button:hover {
  color: #415a8b;
  background-color: #e2ad2f;
}

.nav-link:hover {
  color:#415a8b;
  background-color: #e2ad2f;
}

.m-tp {
  margin-top: 70px;
}

.m-txt {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.banner {
  position: relative;
}

.heading {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  text-align: center;
}

.fontb {
  color: #415a8b;
}

.navbl{
  background-color: #415a8b;
}

 .bg-by {
   background-color: #415a8b;
   color: #e2ad2f;
 }
 .tm {
   float: left;
   margin-right: 5px;
 }

 .img-banner {
   width: 100%;
 }
